<hr class="p-1"/>

<a routerLink="../../../" queryParamsHandling="merge">
  <button class="btn btn-sm btn-info" i18n>Return</button>
</a>

<hr class="p-1"/>

<ng-container *ngIf="lineitem">

  <div class="row" *ngFor="let attr of lineitem.attributes()">
    <div class="col-lg-2">{{attrLabel(attr)}}</div>
    <div class="col-lg-10 border-left">{{attr.attr_value()}}</div>
  </div>

  <hr class="p-1"/>

  <eg-marc-html recordType="bib" [recordId]="lineitem.eg_bib_id()" 
    [recordXml]="lineitem.marc()"> </eg-marc-html>
</ng-container>
