

  <div class="row mt-2">
    <div class="col-lg-1">
      <div ngbDropdown>
        <button class="btn btn-outline-dark btn-sm" ngbDropdownToggle i18n>
          Actions
        </button>
        <div ngbDropdownMenu>
          <button class="btn-sm" ngbDropdownItem
            (click)="addBriefRecord()">Add Brief Record</button>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <input type="text" class="form-control" [(ngModel)]="batchNote"
        placeholder="Line Item Notes..." i18n-placeholder/>
    </div>
    <div class="col-lg-4 form-inline">
      <div class="form-check mr-2">
        <input class="form-check-input" type="checkbox"
          id="vendor-public" [(ngModel)]="noteIsPublic">
        <label class="form-check-label" for="vendor-public">
          Note is vendor-public
        </label>
      </div>
      <button class="btn btn-sm btn-outline-dark" (click)="applyBatchNote()"
        [disabled]="!selectedIds().length" i18n>
        Apply To Selected
      </button>
    </div>
  </div>

  <div class="row mt-3 mb-1 border border-info rounded pb-1 pt-1 toolbar">
    <div class="col-lg-12 d-flex">
      <div class="d-flex justify-content-center flex-column h-100">
        <div class="form-check">
          <input class="form-check-input" id='toggle-page-cbox'
            [(ngModel)]="batchSelectPage" (change)="toggleSelectAll(false)" type="checkbox"/>
          <label class="form-check-label" for='toggle-page-cbox' i18n>Items In Page</label>
        </div>
      </div>

      <div class="d-flex justify-content-center flex-column h-100 ml-3">
        <div class="form-check">
          <input class="form-check-input" id='toggle-all-cbox'
            [(ngModel)]="batchSelectAll" (change)="toggleSelectAll(true)" type="checkbox"/>
          <label class="form-check-label" for='toggle-all-cbox' i18n>All Items</label>
        </div>
      </div>

      <div class="d-flex ml-3 justify-content-center flex-column h-100">
        <span class="font-italic font-small" style="font-size:90%" i18n>
          {{selectedIds().length}} Selected
        </span>
      </div>

      <div class="flex-1"></div>

      <div class="btn-toolbar">
        <button [disabled]="pager.isFirstPage()" type="button"
          class="btn btn-outline-dark mr-1" (click)="pager.toFirst(); goToPage()">
          <span title="First Page" i18n-title i18n>&#x2b70;</span>
        </button>
        <button [disabled]="pager.isFirstPage()" type="button"
          class="btn btn-outline-dark mr-1" (click)="pager.decrement(); goToPage()">
          <span title="Previous Page" i18n-title i18n>&#x21e0;</span>
        </button>
        <button [disabled]="pager.isLastPage()" type="button"
          class="btn btn-outline-dark mr-1" (click)="pager.increment(); goToPage()">
          <span title="Next Page" i18n-title i18n>&#x21e2;</span>
        </button>
        <div ngbDropdown class="mr-1" placement="bottom-right">
          <button ngbDropdownToggle class="btn btn-outline-dark">
            <span title="Select Row Count" i18n-title i18n>
              Rows {{pager.limit}}
            </span>
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" 
              (click)="pager.setLimit(count); pager.toFirst(); goToPage()"
              *ngFor="let count of [5, 10, 25, 50, 100, 500, 1000, 10000]">
              <span class="ml-2">{{count}}</span>
            </a>
          </div>
        </div>
      </div><!-- buttons -->

    </div>
  </div>

  <div class="mt-2 border-bottom pt-2 pb-2" *ngFor="let li of pageOfLineitems">
    <div class="row">
      <div class="col-lg-12 d-flex">
        <div class="pr-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox"
              [(ngModel)]="selected[li.id()]"/>
          </div>
        </div>
        <div class="flex-1">
          <div>
            <a routerLink="./lineitem/{{li.id()}}/detail" queryParamsHandling="merge">
              {{displayAttr(li, 'title')}}
            </a>
          </div>
          <div>
            <span class="pr-1">{{displayAttr(li, 'author')}}</span>
            <span class="pr-1">{{displayAttr(li, 'isbn')}}</span>
            <span class="pr-1">{{displayAttr(li, 'issn')}}</span>
            <span class="pr-1">{{displayAttr(li, 'edition')}}</span>
            <span class="pr-1">{{displayAttr(li, 'pubdate')}}</span>
            <span class="pr-1">{{displayAttr(li, 'publisher')}}</span>
            <span class="pr-1">{{li.source_label()}}</span>
          </div>
        </div>
        <div>
          <ng-container *ngIf="jacketIdent(li)">
            <img class="jacket" src='/opac/extras/ac/jacket/small/{{jacketIdent(li)))'/>
          </ng-container>
        </div>
        <div>
          <div class="input-group">
            <div class="input-group-prepend">
              <div ngbDropdown>
                <button class="btn btn-outline-dark btn-sm" ngbDropdownToggle 
                  [ngClass]="{'btn-warning': !selectedIdent(li)}">
                  <ng-container *ngIf="orderIdentTypes[li.id()]=='isbn'" i18n>ISBN</ng-container>
                  <ng-container *ngIf="orderIdentTypes[li.id()]=='upc'" i18n>UPC</ng-container>
                  <ng-container *ngIf="orderIdentTypes[li.id()]=='issn'" i18n>ISSN</ng-container>
                </button>
                <div ngbDropdownMenu>
                  <button class="btn-sm" ngbDropdownItem
                    (click)="orderIdentTypes[li.id()]='isbn'" i18n>ISBN</button>
                  <button class="btn-sm" ngbDropdownItem
                    (click)="orderIdentTypes[li.id()]='upc'" i18n>UPC</button>
                  <button class="btn-sm" ngbDropdownItem
                    (click)="orderIdentTypes[li.id()]='issn'" i18n>ISSN</button>
                </div>
              </div>
            </div>
            <eg-combobox [entries]="identOptions(li)" [smallFormControl]="true"
              placeholder="Order Identifer..." i18n-placeholder
              [allowFreeText]="true" [selectedId]="selectedIdent(li)"
              (onChange)="orderIdentChanged(li, $event)">
            </eg-combobox>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-12 d-flex">
        <div>
          <span title="Lineitem ID" i18n-title i18n># {{li.id()}}</span>
          <span class="ml-1 mr-1" i18n> | </span>
          <span title="Existing Item Count" i18n-title i18n
            [ngClass]="{'text-danger font-weight-bold': existingCopyCounts[li.id()] > 0}">
            {{existingCopyCounts[li.id()]}}</span>
          <span class="ml-1 mr-1" i18n> | </span>
          <a class="label-with-material-icon" title="Items" i18n-title
            routerLink="./lineitem/{{li.id()}}/items" queryParamsHandling="merge">
            <span class="material-icons small mr-1">shopping_basket</span>
            <span i18n>Items ({{li.lineitem_details().length}})</span>
          </a>
          <span class="ml-1 mr-1" i18n> | </span>
          <a class="label-with-material-icon" title="Expand" i18n-title
            href="javascript:;" (click)="toggleShowExpand(li.id())">
            <ng-container *ngIf="showExpandFor != li.id()">
              <span class="material-icons small mr-1">unfold_more</span>
              <span i18n>Expand</span>
            </ng-container>
            <ng-container *ngIf="showExpandFor == li.id()">
              <span class="material-icons small mr-1">unfold_less</span>
              <span i18n>Collapse</span>
            </ng-container>
          </a>
          <span class="ml-1 mr-1" i18n> | </span>
          <a class="label-with-material-icon" title="Notes" i18n-title
            href="javascript:;" (click)="toggleShowNotes(li.id())">
            <span class="material-icons small mr-1">event_note</span>
            <span i18n>Notes ({{li.lineitem_notes().length}})</span>
            <span *ngIf="liHasAlerts(li)" class="text-danger material-icons"
              title="Has Alerts" i18n-title>flag</span>
          </a>
          <span class="ml-1 mr-1" i18n> | </span>
          <a class="label-with-material-icon"
            routerLink="/staff/acq/lineitem/{{li.id()}}/worksheet/">
            <span class="material-icons small mr-1">create</span>
            <span i18n>Worksheet</span>
          </a>
          <span class="ml-1 mr-1" i18n> | </span>
          <a class="label-with-material-icon"
            routerLink="null">
            <span class="material-icons small mr-1">receipt</span>
            <span i18n>Invoices ({{0}})</span>
          </a>
          <ng-container *ngIf="li.eg_bib_id()">
            <span class="ml-1 mr-1" i18n> | </span>
            <a class="label-with-material-icon mr-2"
              routerLink="/staff/catalog/record/{{li.eg_bib_id()}}">
              <span class="material-icons small mr-1">library_books</span>
              <span i18n>Catalog</span>
            </a>
          </ng-container>

          <ng-container *ngIf="li.purchase_order()">
            <span class="ml-1 mr-1" i18n> | </span>
            <a class="label-with-material-icon"
              title="Provider" i18n-title
              routerLink="/staff/acq/provider/{{li.purchase_order().provider()}}/details">
              <span class="material-icons small mr-1">adjust</span>
              <span i18n>todo</span>
            </a>
            <span class="ml-1 mr-1" i18n> | </span>
            <a class="label-with-material-icon"
              title="Purchase Order" i18n-title
              routerLink="/staff/acq/po/{{li.purchase_order().id()}}">
              <span class="material-icons small mr-1">center_focus_weak</span>
              <span i18n>{{li.purchase_order().id()}}</span>
            </a>
          </ng-container>
          <ng-container *ngIf="li.picklist()">
            <span class="ml-1 mr-1" i18n> | </span>
            <a class="label-with-material-icon"
              title="Selection List" i18n-title 
              routerLink="/staff/acq/picklist/{{li.picklist().id()}}">
              <span class="material-icons small mr-1">widgets</span>
              <span i18n>{{li.picklist().name()}}</span>
            </a>
          </ng-container>
        </div>

        <div class="flex-1"></div>

        <div class="mr-2">
          <ng-container [ngSwitch]="li.state()">	
            <span i18n *ngSwitchCase="'new'" class="text-dark">New</span>
            <span i18n *ngSwitchCase="'selector-ready'">Selector-Ready</span>
            <span i18n *ngSwitchCase="'order-ready'">Order-Ready</span>
            <span i18n *ngSwitchCase="'approved'">Approved</span>
            <span i18n *ngSwitchCase="'pending-order'" class="text-info">Pending-Order</span>
            <span i18n *ngSwitchCase="'on-order'" class="text-warning">On-Order</span>
            <span i18n *ngSwitchCase="'received'" class="text-success">Received</span>
            <span i18n *ngSwitchCase="'cancelled'" class="text-danger">Canceled</span>
          </ng-container>
        </div>
        <div class="mr-2">
          <div ngbDropdown>
            <button class="btn btn-outline-dark btn-sm" ngbDropdownToggle i18n>
              Actions
            </button>
            <div ngbDropdownMenu>
              <button class="btn-sm" ngbDropdownItem 
                (click)="markReceived(li)">Mark Received</button>
            </div>
          </div>
        </div>
        <div>
          <input type="text" class="form-control-sm medium"
            [ngClass]="{'border border-danger text-danger': !liPriceIsValid(li)}"
            placeholder='Price...' i18n-placeholder
            (change)="liPriceChange(li)"
            [ngModel]="li.estimated_unit_price()"
            (ngModelChange)="li.estimated_unit_price($event)"/>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="showNotesFor == li.id()">
      <div class="col-lg-10 offset-lg-1 p-2 mt-2">
        <eg-lineitem-notes [lineitem]="li" (closeRequested)="showNotesFor = null">
        </eg-lineitem-notes>
      </div>
    </div>
    <div class="row" *ngIf="showExpandFor == li.id()">
      <div class="col-lg-10 offset-lg-1 p-2 mt-2 shadow">
        <div class="batch-copy-row" *ngFor="let copy of li.lineitem_details()">
          <eg-lineitem-copy-attrs [embedded]="true" [copy]="copy">
          </eg-lineitem-copy-attrs>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="loading">
    <div class="offset-lg-3 col-lg-6">
      <eg-progress-inline *ngIf="loading"></eg-progress-inline>
    </div>
  </div>

