
.jacket {
  max-width: 40px;
  max-height: 65px;
}

input[type="text"].form-control-sm { border-width: 1px; }

.toolbar {
  font-size: 115%;
}

.batch-copy-row:nth-child(even) {
  background-color: rgba(0,0,0,.03);
}




